<div class="page-header">
    <h1>Bejelentkezés</h1>
</div>

<form class="form-horizontal" method="post">
    <fieldset>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <a href="/login/signup" class="btn btn-default">Regisztráció</a>
                <a href="/login/signup" class="btn btn-default">Regisztráció</a>
            </div>
        </div>
    </fieldset>
</form>